.d-flex {
  display: flex;
}

.FloatingIcon.MuiFab-root {
  background-color: #9898ae;
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.Content {
  padding: 40px;
  min-height: calc(100vh - 60px);
  min-width: calc(100vw - 120px);
  box-sizing: border-box;
  background-color: #eef2f9;
}

.TasksContainer {
  width: 25%;
  height: 200px;
  margin-right: 20px;
  border-top: 4px solid red;
}

.TasksContainer:last-of-type {
  margin-right: 0
}

